# Extensions files
*.crx
*.pem

# OS files
.DS_Store
Thumbs.db

# Environment (Safety first)
.env
.env.local
.env.*.local
config.js

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Personal notes
README_perso
README_perso.md

# Release staging folder
.release_stage/
